{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/webfonts/fa-solid-900.woff2"
    />
  </head>
  <body>
    <div class="login-container">
      <h2>로그인</h2>

      <form action="" method="POST">
        {% csrf_token %}
        <!-- <label for="username">아이디:</label>
      <input type="text" id="username" name="username" required><br><br>
      
      <label for="password">비밀번호:</label>
      <input type="password" id="password" name="password" required><br><br> -->

        {% for form in forms %}
        <div>
          <label for="{{ form.id_for_label }}">{{ form.label }}</label>
          {{ form }}
        </div>
        {% endfor %} {% if error %} {{ error }} {% endif %}
        <input type="submit" value="로그인" id="loginbutton" />

        <div>
          <a
            href="{% url 'join' %}"
            style="
              padding-left: 128px;
              padding-right: 129px;
              padding-top: 15px;
              padding-bottom: 15px;
              background-color: skyblue;
              color: white;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              font-family: 'Jua', sans-serif;
            "
          >
            회원가입</a
          >
        </div>
      </form>
    </div>

    <!-- 모달 -->
    {% comment %}
    <div id="signup-modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="signup-title">
          <i class="fas fa-user-plus"></i>
          <h3>회원 가입</h3>
        </div>
        <form id="signup-form">
          <label for="signup-username">아이디 :</label>
          <input
            type="text"
            id="signup-username"
            name="signup-username"
            required
          /><br /><br />

          <label for="signup-password">비밀번호 :</label>
          <input
            type="password"
            id="signup-password"
            name="signup-password"
            required
          /><br /><br />

          <label for="signup-confirm-password">비밀번호 확인 :</label>
          <input
            type="password"
            id="signup-confirm-password"
            name="signup-confirm-password"
            required
          /><br /><br />

          <label for="vacation-period">방학기간 :</label>
          <input
            type="date"
            id="vacation-startperiod"
            name="vacation-startperiod"
            required
          />
          ~
          <input
            type="date"
            id="vacation-finishperiod"
            name="vacation-finishperiod"
            required
          /><br /><br /><br />

          <input type="submit" value="회원 가입" />
        </form>
      </div>
    </div>
    {% endcomment %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
