@font-face {
  font-family: "GoryeongStrawberry";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KCCMurukmuruk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-family: "KCCMurukmuruk", sans-serif;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  padding: 5px 0px 5px 0px;
}

.signup-title {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.signup-title i {
  float: left;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}

h3 {
  font-size: 25px;
}

button {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}

#loginbutton {
  font-size: 18px;
}

/* 배경 */
#main {
  background-image: url("mainpic.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

#contents {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

#contents h1 {
  font-size: 80px;
  -webkit-text-stroke: 1.5px #23a7db;
  margin-bottom: 16px;
  color: white;
  font-family: "KCCMrukmuruk", sans-serif;
}

/* 인트로 버튼 */
#contents button {
  color: white;
  display: inline-block;
  background-color: #23a7db;
  border: 2px solid #23a7db;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
  width: auto;
}
/* 누르면 색상 변화 */
#contents button:hover {
  border-color: white;
  background-color: white;
  color: #23a7db;
}
/* 크기변화 */
@media (max-width: 769px) {
  #contents h1 {
    font-size: 50px;
  }

  #contents p {
    font-size: 20px;
  }

  #contents a {
    font-size: 14px;
  }
}
/* 로그인 */
body {
  background-image: url("mainpic.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: "Jua", sans-serif;
  position: relative;
}

/* 이거 수정했음 !!!!!!!!!!!!1 */
form {
  font-family: "Jua", sans-serif;
  width: 350px;
  padding: 20px 0px 50px 40px;
  border: 1px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  font-family: "Jua", sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="month"] {
  padding-right: 4px;
  padding-bottom: 2px;
  font-family: "Jua", sans-serif;
  font-size: 13px;
}

input[type="submit"] {
  width: 310px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: skyblue;
  font-family: "Jua", sans-serif;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

input[type="button"] {
  font-family: "Jua", sans-serif;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: black;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
}

input[type="button"]:hover {
  font-family: "Jua", sans-serif;
  background-color: white;
}

.modal-content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("mainpic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: none;
}

form label {
  display: block;
  margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
  width: 85%;
  padding: 5px;
  margin-top: 5px;
}
/* 회원가입 버튼 */
form input[type="button"],
button {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Jua", sans-serif;
}

button#signupBtn {
  background-color: white;
}
/* 모달창 */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  background-color: white;
  margin: 200px auto;
  padding: 20px;
  border: 5px double skyblue;
  max-width: 350px; /* 최대 너비 설정 */
  width: 100%; /* 모달 창의 너비 조정 */
  max-height: 80vh; /* 최대 높이 설정 */
  overflow-y: auto; /* 내용이 너무 많을 경우 스크롤 생성 */
  border-radius: 15px;
}
.close {
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jua", sans-serif;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
